@model IEnumerable<Presentation.Models.ViewModels.ListTicketViewModel>

@{
    ViewData["Title"] = "Tickets";
}

<h1>Tickets</h1>

@if (TempData["message"] != null)
{
<div class="alert alert-success" role="alert">
    @TempData["message"]
</div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["error"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Row)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Column)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightIdFk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cancelled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Row)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Column)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightIdFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancelled)
            </td>
            <td>
                @if(item.DepartureDate > DateTime.Now && !item.Cancelled){
                        <form asp-controller="Tickets" asp-action="Cancel" method="post">
                            <input type="hidden" name="TicketToCancel" value="@item.Id" />
                            <button type="submit" onclick="return confirm('Are you sure?')">Cancel Ticket</button>
                        </form>
                    //<a href="\Tickets\Cancel?id=@item.Id" onclick='return window.confirm("Are you sure?")'>Cancel</a>
                   //@Html.ActionLink("Cancel", "Cancel", new { id=item.Id })
                }
        </tr>
}
    </tbody>
</table>
